* {
    padding: 0;
    margin: 0;
}



.menu-choices {
    height: 85vh;
    width: 100% - 8px;
    border: #FF5C21 8px solid;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}


p {
    font-family: 'Goldman';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;
    margin-bottom: 40px;

    color: #FF5C21;

    text-shadow: 4px 4px 4px #390F00;
}

h1 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    line-height: 113px;
    margin-bottom: 60px;

    color: #FF5C21;

    text-shadow: 4px 4px 4px #000000;
}

.menu-section2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100% - 8px;
    height: 50vh;
}

h3 {
    font-family: 'Goldman';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;

    color: #390F00;
}

.menu-footer {
    background-color: #220E10;
    height: 15vh;
    border: #FF5C21 8px solid;
}

.menu-img {
    height: 85vh;
    width: 100%;
    filter: blur(6px);
}

.link-container {
    width: 100vw;
    height: 85vh;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: #FF5C21;
}

@media screen and (max-width: 360px) {
    h1 {
        font-size: 48px;
    }

    p {
        font-size: 24px;
    }

    h3 {
        font-size: 24px;
    }
}