* {
    padding: 0;
    margin: 0;
}



.heroimg {
    background-color: transparent;
    border: #FF5C21 8px solid;
    height: 85vh;
    width: 100% - 8px;
    display: flex;
    justify-content: center;
}

.herotitle {
    position: absolute;
    left: 50%;
    margin-left: -267px;
    top: 50%;
    margin-top: -115px;
    font-family: 'Goldman';
    font-style: normal;
    font-weight: 400;
    font-size: 96px;
    z-index: 1;

    color: #FF5C21;

    text-shadow: 4px 4px 4px #390F00;
}

.sidebar-btn {
    position: absolute;
    left: -25px;
    top: 50%;
    margin-top: -100px;
    width: 125px;
    height: 100px;
    background-color: #FF5C21;
    color: white;
    border-radius: 25px;
    border-color: transparent;
    z-index: 1;
}

.sidebar-btn-2 {
    position: absolute;
    left: calc(20vw - 50px);
    top: 50%;
    margin-top: -100px;
    width: 125px;
    height: 100px;
    background-color: #FF5C21;
    color: white;
    border-radius: 25px;
    border-color: transparent;
    z-index: 1;
    display: none;
}

.sidebar-btn:hover {
    cursor: pointer;
    opacity: 0.7;
}

.landingimg {
    height: 85vh;
    width: 100%;
    filter: blur(6px);
}

.slogan {
    height: 15vh;
    background-color: #F7F5E7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slogantext {
    font-size: 48px;
    font-family: 'Goldman', cursive;
    color: #FF5C21;
}

.text {
    height: 100vh;
    background-color: #F7F5E7;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10vw;
}


.history-container {
    width: 35vw;
    height: 60vh;
    background-color: transparent;
}

.history-title {
    height: 36px;
    width: 100%;
    background-color: transparent;
    font-size: 36px;
    font-family: 'Goldman', cursive;
    display: flex;
    justify-content: center;

}

.history-text {
    font-size: 36px;
    margin-block: 20px;
    font-family: 'Raleway', sans-serif;
    margin: 20px;
}

.offer-container {
    width: 35vw;
    height: 60vh;
    background-color: transparent;
}

.offer-title {
    height: 36px;
    width: 100%;
    background-color: transparent;
    font-size: 36px;
    font-family: 'Goldman', cursive;
    display: flex;
    justify-content: center;
}

.offer-text {
    font-size: 36px;
    margin-block: 20px;
    font-family: 'Raleway', sans-serif;
    margin: 20px;
}

.info {
    height: 100vh;
}

.info-title {
    height: 15vh;
    background-color: #F7F5E7;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 96px;
    font-family: 'Raleway', sans-serif;
}

.info-container {
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F7F5E7;
}

.info-phone {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 15vh;
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
}

.info-phone h2 {
    font-weight: bold;
}

.info-mail {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 15vh;
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
}

.info-mail h2 {
    font-weight: bold;
}

.info-address {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 15vh;
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
}

.info-address h2 {
    font-weight: bold;
}

.info-book {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 15vh;
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
}

.info-book h2 {
    font-weight: bold;
}

.times {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 15vh;
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
}

.gap {
    height: 120px;
    background-color: #F7F5E7;
}

.footer {
    background-color: #220E10;
    height: 15vh;
    border: #FF5C21 8px solid;
}

.menu-tab {
    position: absolute;
    left: -20vw;
    top: 0;
    height: calc(85vh + 16px);
    width: 20vw;
    background-color: #FF5C21;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
    font-size: 36px;
    font-family: 'Goldman', cursive;
    color: #F7F5E7;
}

.slide-animation {
    animation-name: sidebar-slide;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.slide-back-animation {
    animation-name: sidebar-slideback;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

a {
    text-decoration: none;
    color: #F7F5E7;
}

@keyframes sidebar-slide {
    from
    {
        left: -20vw;
    }

    to
    {
        left: 0;
    }
}

@keyframes sidebar-slideback {
    from
    {
        left: 0;
    }
    
    to
    {
        left: -20vw;
    }
}